
/* New add  4/21 */
body{
  height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px !important;
    font-weight: 400;
    color: #7b809a!important;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, Helvetica, "sans-serif" !important;
}

.sidenav .navbar-brand {
    padding: 1.5rem 1rem;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  font-size: 16px;
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 100px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 50; opacity: 0;}
  to {top: 100px; opacity: 1;}
}

@keyframes fadein {
  from {top: 50; opacity: 0;}
  to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 100px; opacity: 1;}
  to {top: 50; opacity: 0;}
}

@keyframes fadeout {
  from {top: 100px; opacity: 1;}
  to {top: 50; opacity: 0;}
}

.errorMsg{
  display: none;
  color: red;
  font-size: 12px;
}


/* New add Kelpfen Part */
.titleText{
  color: #73879c!important;
}

.subheader .subheader-separator.subheader-separator-ver {
  width: 1px;
  height: 22px;
}

.subheader .subheader-separator {
  display: block;
  width: 12px;
  height: 4px;
  border-radius: 2px;
}
.title-description{
  padding-left: 14px;
  border-left: 1px solid #00000026 ;
}

.border-up{
  border-top: 1px solid #ebedf3;
}

.container_background{
  background-color: #fcfcfe !important;
}

.btn.btn-light-primary{
  font-size: 12px;
  color: #fff;
  background-color: #3699ff;
  border-color: transparent;
}

.btn.btn-light-danger{
  font-size: 12px;
  color: #fff;
  background-color: red;
  border-color: transparent;
}

.faSelect{
  font-family: fontAwesome, sans-serif;
}

.btn{
    color:#fff;
    padding: 8px 20px;
    border-radius: 0.25rem;
    font-size: 12px;
    text-transform: none!important;
}
/* .btn:hover {
    color: white !important;
} */
.btn_search{
    background-color:#3699ff;
}
.btn_search:hover {
  color: white;
  background-color: #3699ff;
  border-color: 3699ff;
  box-shadow: 0 14px 26px -12px rgb(54 153 255 / 40%), 0 4px 23px 0 rgb(54 153 255 / 15%), 0 8px 10px -5px rgb(54 153 255 / 20%);
}
.btn_clear{
    background-color:#e74c3c
}
.btn_clear:hover {
  color: white;
  background-color: #e74c3c;
  border-color: #e74c3c;
  box-shadow: 0 14px 26px -12px rgb(231 76 60 / 40%), 0 4px 23px 0 rgb(231 76 60 / 15%), 0 8px 10px -5px rgb(231 76 60 / 20%);
}
.btn_add{
    background-color:#2ecc71;
}
.btn_add:hover {
  color: white;
  background-color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: 0 14px 26px -12px rgb(46 204 113 / 40%), 0 4px 23px 0 rgb(46 204 113 / 15%), 0 8px 10px -5px rgb(46 204 113 / 20%);
}
.btn_export{
    background-color:#ffa800
}
.btn_export:hover {
  color: white;
  background-color: #ffa800;
  border-color: #ffa800;
  box-shadow: 0 14px 26px -12px rgb(255 168 0 / 40%), 0 4px 23px 0 rgb(255 168 0 / 15%), 0 8px 10px -5px rgb(255 168 0 / 20%);
}
.input-group>.form-select {
  padding-left:10px;
  padding-right:10px;
  background-position: right 10px center;
}

.input-group>.form-select:focus {
  border-color: #d2d6da!important;
}

aside{
  z-index: 1049!important;
}
.modal{
  height:auto!important;
}
.modal-dialog  {
  width: 90%!important;
  margin: 4.25rem auto!important;
  max-width:none!important;
}
@media (min-width: 785px) {
  .modal-dialog  {
    width: 80%!important;
  }
}
.modal-close{
  border: none;
  background: transparent;
  font-size: 20px;
}

.form-control {
  background: none;
  border: 1px solid #d2d6da;
  border-radius: 0.375rem;
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
  padding: 0.625rem 0.75rem !important;
  line-height: 1.3 !important;
}
.form-control:focus {
  border-color : #d2d6da;
}
.label {
  width: 100px !important;
  display: inline-block !important
}
